In [1]:
!pip install sklearn
!pip install pandas
!pip install numpy

Requirement already satisfied: sklearn in ./venv/lib/python3.10/site-packages (0.0.post1)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in ./venv/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: numpy in ./venv/lib/python3.10/site-packages (1.24.2)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import quandl as qd
import math
import numpy as np

In [3]:
df = pd.read_csv('nestle.csv')
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
0,21-April-2022,18150.00,18572.95,17772.90,18205.80,18130.183442,4590,1770,83217542.0,950.0,20.70,800.05,55.80
1,20-April-2022,18100.10,18415.00,18017.15,18313.70,18295.559071,6069,1321,111035748.0,4677.0,77.06,397.85,213.60
2,19-April-2022,18470.05,18718.00,17845.60,17943.15,18355.093320,2904,716,53303191.0,1619.0,55.75,872.40,-526.90
3,18-April-2022,18294.50,18684.50,18294.50,18549.85,18511.224599,1496,586,27692792.0,557.0,37.23,390.00,255.35
4,13-April-2022,18371.20,18549.30,18248.25,18343.90,18388.967826,1150,550,21147313.0,573.0,49.83,301.05,-27.30

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2553 entries, 0 to 2552
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       2553 non-null   object
 1   Open Price                 2553 non-null   float64
 2   High Price                 2553 non-null   float64
 3   Low Price                  2553 non-null   float64
 4   Close Price                2553 non-null   float64
 5   WAP                        2553 non-null   float64
 6   No.of Shares               2553 non-null   int64
 7   No. of Trades              2553 non-null   int64
 8   Total Turnover (Rs.)       2553 non-null   float64
 9   Deliverable Quantity       2551 non-null   float64
 10  % Deli. Qty to Traded Qty  2551 non-null   float64
 11  Spread High-Low            2553 non-null   float64
 12  Spread Close-Open          2553 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 259.4+ KB

In [5]:
df.fillna(-99999, inplace=True)

In [6]:
df['HL_PCT'] = (df['High Price'] - df['Close Price'])/df['Close Price'] * 100.0
df['PCT_CHANGE'] = (df['Close Price'] - df['Open Price'])/df['Open Price'] * 100.0
df.drop(['Date','No.of Shares','No. of Trades','Total Turnover (Rs.)','Deliverable Quantity','% Deli. Qty to Traded Qty','Spread High-Low','Spread Close-Open'],axis=1,inplace=True)

In [7]:
df.head()

,Open Price,High Price,Low Price,Close Price,WAP,HL_PCT,PCT_CHANGE
0,18150.00,18572.95,17772.90,18205.80,18130.183442,2.016665,0.307438
1,18100.10,18415.00,18017.15,18313.70,18295.559071,0.553138,1.180104
2,18470.05,18718.00,17845.60,17943.15,18355.093320,4.318361,-2.852726
3,18294.50,18684.50,18294.50,18549.85,18511.224599,0.725882,1.395775
4,18371.20,18549.30,18248.25,18343.90,18388.967826,1.119718,-0.148602

In [8]:
forecast_out = int(math.ceil(0.01*len(df)))

In [9]:
df['label'] = df['Close Price'].shift(-forecast_out)
df.head()

,Open Price,High Price,Low Price,Close Price,WAP,HL_PCT,PCT_CHANGE,label
0,18150.00,18572.95,17772.90,18205.80,18130.183442,2.016665,0.307438,17322.80
1,18100.10,18415.00,18017.15,18313.70,18295.559071,0.553138,1.180104,17633.95
2,18470.05,18718.00,17845.60,17943.15,18355.093320,4.318361,-2.852726,17147.35
3,18294.50,18684.50,18294.50,18549.85,18511.224599,0.725882,1.395775,17299.70
4,18371.20,18549.30,18248.25,18343.90,18388.967826,1.119718,-0.148602,17342.50

In [10]:
df.dropna(inplace=True)

In [11]:
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [12]:
X = np.array(df.drop(['label'],1))
y = np.array(df['label'])

/var/folders/vt/qzp076cj5jn64mlyw3l52qp40000gn/T/ipykernel_18516/3153512655.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(df.drop(['label'],1))

In [13]:
X_train, X_test, y_train , y_test = train_test_split(X, y, test_size=0.2)

In [14]:
lf = LinearRegression()
lf.fit(X_train, y_train)

LinearRegression()

In [ ]:
lf.score(X_test, y_test)